.additional-goods {
  padding: 25px 20px 35px;
}

.additional-goods__title {
  @include title-medium;

  margin: 0;
  padding-bottom: 30px;
  border-bottom: $border;
}

.additional-goods__list {
  @include list-dumping;
}

.additional-goods__action {
  margin-top: 40px;
  min-height: 290px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-size: 280px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    fill: $color-white;
    margin-top: 65px;
    margin-bottom: 60px;
  }
}

.additional-goods__action-information {
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  font-family: $font-arial;
  margin: 0;
  text-align: center;
  padding: 0 50px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat center;
    background-size: 560px auto;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding: 0;
    padding-bottom: 75px;
  }

  .additional-goods__title {
    @include block-divider;

    position: relative;
    font-size: 36px;
    line-height: 36px;
    border: none;
    background: $color-white;
    width: fit-content;
    margin-left: 42px;
    margin-bottom: 70px;
    padding: 0 25px;
  }

  .additional-goods__block {
    padding: 0 30px;
  }

  .additional-goods__action {
    margin-top: 70px;
    min-height: 200px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
    background-size: cover;
    flex-direction: row;

    & svg {
      padding-left: 90px;
    }
  }

  .additional-goods__action-information {
    width: 180px;
    text-align: left;
    padding-left: 276px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi), (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-tablet@2x.jpg") no-repeat center;
    background-size: 1416px auto;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__title {
    margin-left: calc(50% - 635px);

    &::after {
      left: calc(50% - 643px);
    }
  }

  .additional-goods__list {
    width: calc(75% - 20px);
    padding: 0;
    margin-right: auto;
  }

  .additional-goods__block {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .additional-goods__action {
    flex-direction: column;
    width: calc(25% - 55px);
    min-height: 288px;
    margin: 0;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat center;
    background-size: 245px auto;

    & svg {
      padding: 0;
    }
  }

  .additional-goods__action-information {
    padding: 0;
    text-align: center;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-desktop@2x.jpg") no-repeat center;
    background-size: 490px auto;
  }
}
