.additional-goods {
  padding: 28px 20px 35px;
}

.additional-goods__title {
  @include title-medium;

  margin: 0;
  padding-bottom: 34px;
  border-bottom: $border;
}

.additional-goods__list {
  @include list-dumping;
}

.additional-goods__action {
  margin-top: 38px;
  min-height: 290px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    fill: $color-white;
    margin: 64px 0;
  }
}

.additional-goods__action-information {
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  font-family: $font-arial;
  margin: 0;
  text-align: center;
  padding-left: 57px;
  padding-right: 45px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-mobile@2x.jpg") no-repeat center;
    background-size: 560px auto;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    padding: 0;
    padding-bottom: 78px;
  }

  .additional-goods__title {
    @include block-divider;

    position: relative;
    font-size: 36px;
    line-height: 36px;
    border: none;
    background: $color-white;
    width: fit-content;
    margin-left: 28px;
    margin-bottom: 80px;
    padding: 0 38px;

    &::before {
      width: calc(100vw + 40px);
      left: -70px;
    }
  }

  .additional-goods__block {
    padding: 0 30px;
  }

  .additional-goods__action {
    margin-top: 69px;
    min-height: 200px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
    background-size: cover;
    flex-direction: row;

    & svg {
      margin: 0;
      margin-bottom: 10px;
      padding-left: 91px;
    }
  }

  .additional-goods__action-information {
    width: 180px;
    text-align: left;
    padding-left: 277px;
    padding-top: 3px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-dpi), (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-tablet@2x.jpg") no-repeat center;
    background-size: 1416px auto;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-bottom: 86px;
  }

  .additional-goods__title {
    margin-left: calc(50% - 648px);

    &::after {
      left: calc(50% - 643px);
    }

    &::before {
      width: 200vw;
      left: -100vw;
    }
  }

  .additional-goods__list {
    width: calc(75% - 20px);
    padding: 0;
    margin-right: auto;
  }

  .additional-goods__block {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .additional-goods__action {
    flex-direction: column;
    justify-content: center;
    width: calc(25% - 60px);
    min-height: 288px;
    margin: 0;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat center;
    background-size: cover;

    & svg {
      padding: 0;
      margin-top: 22px;
      margin-bottom: 62px;
    }
  }

  .additional-goods__action-information {
    padding: 0;
    text-align: center;
    padding-left: 13px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .additional-goods__action {
    background: url("../img/gift-photo-desktop@2x.jpg") no-repeat center;
    background-size: 490px auto;
  }
}
