.advantage {
  padding: 0 20px;
  margin-bottom: 40px;
}

.advantage__title {
  @include title-h2;

  margin-bottom: 27px;
}

.advantage__list {
  @include list-dumping;
}

.advantage__item {
  font-family: $font-arial;

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantage__item-image {
  background-color: $color-green;

  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .advantage {
    padding: 0 30px;
    border-bottom: $border;
  }

  .advantage__title {
    font-size: 60px;
    margin-bottom: 72px;
  }

  .advantage__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: section;
  }

  .advantage__item {
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-right: 90px;
    box-sizing: border-box;
    min-height: 230px;
    position: relative;
    z-index: 5;
    margin-bottom: 87px;

    &::before {
      content: "" counter(section);
      counter-increment: section;
      font-size: 281px;
      font-weight: 400;
      position: absolute;
      left: 118px;
      top: 91px;
      color: $color-dark-gray;
      z-index: -1;
      font-family: $font;
    }

    &:nth-child(even) {
      padding-left: 30px;

      &::before {
        left: 140px;
      }
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 56px;
    }
  }

  .advantage__item-image {
    padding: 10px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding: 0;
    border: none;
    margin-bottom: 70px;
  }

  .advantage__title {
    padding: 0;
  }

  .advantage__list {
    justify-content: space-between;
    padding: 0;
  }

  .advantage__item {
    padding: 0;
    width: calc(25% - 80px * 3 / 4);

    &::before {
      left: 115px;
    }

    &:nth-child(even) {
      padding: 0;

      &::before {
        left: 115px;
      }
    }
  }
}
