.btn-checkbox {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  & label {
    @include form-label;

    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      border: 1px solid #cdcdcd;
      box-sizing: border-box;
      margin-right: 15px;
    }

    &:hover::before {
      border-color: $color-gray-btn-hvr;
    }

    &:active {
      opacity: 0.3;
    }
  }

  & input {
    @include visually-hidden;
  }
}

.btn-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 21px;
  height: 16px;
  background: url("../img/svg_inline/icon-tick.svg") no-repeat center;
}

@media (min-width: $tablet-width) {
  .btn-checkbox {
    width: 50%;
    margin-bottom: 32px;

    &:nth-child(even) {
      padding-left: 28px;
      box-sizing: border-box;
    }

    & label {
      font-size: 20px;
      line-height: 20px;

      &::before {
        width: 40px;
        height: 40px;
        margin-right: 18px;
      }
    }
  }

  .btn-checkbox input:checked ~ label::after {
    top: 12px;
    left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .btn-checkbox {
    width: 245px;
    margin-right: 80px;

    &:nth-child(even) {
      padding-left: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
