.button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $color-green;
  border: none;
  text-transform: uppercase;
  color: $color-white;
  min-height: 40px;
  width: 100%;
  font-family: $font;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $color-green-btn;
  }

  &:active,
  &focus {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }
}
