.catalog__title {
  padding: 26px 40px;
  padding-left: calc(50% - 140px);
  border-bottom: $border;
}

.catalog__middle-title {
  @include visually-hidden;
}

.catalog__list {
  @include list-dumping;
}

.catalog__item-show {
  padding: 25px 20px 24px;
  border-bottom: $border;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    opacity: 0.2;
  }
}

.catalog__show-title {
  @include title-small;

  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
}

.catalog__show-description {
  @include text-small;

  margin: 0;
  margin-bottom: 23px;
}

.catalog__show-btn {
  background-color: $color-dark-gray;
  color: $color-gray;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $color-bright-gray-hvr;
  }

  &:active,
  &:focus {
    color: rgba(68, 68, 68, 0.3);
    background-color: $color-bright-gray-hvr;
    outline: none;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 69px;
  }

  .catalog__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 75px 30px 0;
  }

  .catalog__title {
    padding: 31px 0 89px 30px;
  }

  .catalog__item-show {
    width: calc(50% - 30px);
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 55px 37px 40px 37px;
    border: $border;
    min-height: 432px;

    & svg {
      width: 60px;
      height: 60px;
    }
  }

  .catalog__show-title {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 26px;
    text-align: center;
    padding: 0 50px;
  }

  .catalog__show-description {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 0 30px;
    margin-bottom: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 75px;
  }

  .catalog__title {
    width: auto;
    padding-left: 0;
    padding-top: 20px;
  }

  .catalog__list {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__item-show {
    width: calc(25% - 60px);
  }

  .catalog__show-title {
    padding: 0;
  }

  .catalog__show-description {
    padding: 0;
  }
}
