.catalog-item {
  padding: 0 20px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: $border;
}

.catalog-item__title {
  @include title-small;

  margin: 0;
  width: 90px;
  margin-bottom: 12px;
}

.catalog-item__title-link{
  text-decoration: none;
}

.catalog-item__list {
  @include text-small;

  width: 100%;
}

.catalog-item__value {
  padding: 0;
  margin-left: -2px;
}

.catalog-item__field {
  margin-right: -4px;
}

.catalog-item__block {
  width: 50%;
  margin-left: auto;
}

.catalog-item__btn {
  font-size: 16px;
  line-height: 20px;
  margin-top: -3px;
}

.catalog-item__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    flex-direction: column;
    justify-content: flex-end;
    width: calc(50% - 30px);
    min-height: 432px;
    background-color: $color-dark-gray;
    margin-bottom: 138px;
    border: none;
    padding: 0;
    padding-bottom: 40px;
    box-sizing: border-box;

    & img {
      margin-top: -81px;
      margin-bottom: 45px;
    }

    &:nth-child(odd) {
      margin-right: 60px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  .catalog-item__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: -11px;
  }

  .catalog-item__title {
    font-size: 20px;
    text-align: center;
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
  }

  .catalog-item__title-link {
    display: flex;
    justify-content: center;
  }

  .catalog-item__list {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 31px;
  }

  .catalog-item__line {
    border-bottom: $border;
    padding: 5px 0;
    margin-bottom: 3px;
  }

  .catalog-item__field {
    margin-right: 4px;
  }

  .catalog-item__value {
    margin-left: 6px;
  }

  .catalog-item__btn {
    width: calc(100% - 75px);
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: calc(25% - 60px);
    margin-right: 80px;
    margin-bottom: 142px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    & img {
      margin-bottom: 43px;
    }
  }
}
