.copyright__link {
  font-size: 16px;
  font-family: $font-arial;
  line-height: 16px;
  color: $color-gray;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    height: 100%;
  }

  .copyright__link-text {
    margin-left: auto;
    margin-right: 20px;
  }
}
