.copyright__link {
  font-size: 16px;
  font-family: $font-arial;
  line-height: 16px;
  color: $color-gray;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  &:hover svg {
    stroke: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .copyright__link {
    min-height: auto;
    align-self: center;
  }

  .copyright__link-text {
    margin-left: auto;
    margin-right: 23px;
  }
}
