.example {
  background-color: $color-dark-gray;
  padding-bottom: 36px;
}

.example__range {
  /* stylelint-disable */
  @mixin track {
    height: 6px;
    border-radius: 5px;
    background-color: $color-light-gray;
  }

  @mixin thumb {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
    background-image: radial-gradient($color-green 4px, white 4px);

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid $color-green;
      cursor: w-resize;
    }
  }

  display: none;

  -webkit-appearance: none;
  background-color: transparent;

  flex-grow: 1;
  margin: 0 17px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;

    @include track;
  }

  &::-ms-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }
  /* stylelint-enable */
}

.example__title {
  @include title-h2;

  padding: 18px 20px 25px 20px;
}

.example__description {
  margin: 0;
  font-family: $font-arial;
  margin-bottom: 25px;
  padding: 0 30px 0 20px;
}

.example__list {
  @include list-dumping;

  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 0 20px;
}

.example__item {
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $border;
  padding: 14px 0;
  position: relative;
  border-radius: 5px;
}

.example__images-before {
  display: none;
  text-align: center;
}

.example__images-after {
  display: block;
  text-align: center;
}

.example__process {
  @include title-medium;

  text-transform: uppercase;
}

.example__images {
  margin-bottom: 30px;
}

.example__process-description {
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
  position: absolute;
  width: 65px;
  text-align: center;
  bottom: -18px;
  z-index: 5;
  padding: 0 10px;
  background-color: $color-dark-gray;
}

.example__expenses {
  text-transform: uppercase;
  color: $color-black;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

.example__result-input {
  @include visually-hidden;
}

.example__result {
  padding-left: 63px;
  padding-right: 59px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.example__btn {
  display: none;
}

.example__result-text {
  @include title-small;
}

.example__result-label {
  content: "";
  position: absolute;
  left: 119px;
  top: calc(50% - 7px);
  width: calc(100% - 235px);
  height: 14px;
  background-color: $color-white;
  border-radius: 5px;
  border: $border;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% + 3px);
    top: calc(50% - 3px);
    height: 6px;
    width: calc(50% - 6px);
    background-color: #68b738;
    border-radius: 10px;
    transition: all 0.25s;
  }
}

@media (max-width: $mobile-width-only) {
  /* stylelint-disable */
  #checkbox:checked ~ .example__result .example__result-label::before {
    left: 3px;
    transition: all 0.25s;
  }

  #checkbox:checked ~ .example__images .example__images-after {
    display: none;
  }

  #checkbox:checked ~ .example__images .example__images-before {
    display: block;
  }
  /* stylelint-enable */
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0 30px 70px;
    background: linear-gradient(to left, $color-bright-gray 0%, $color-bright-gray 50%, $color-dark-gray 50%, $color-dark-gray 100%);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 100% 45%;
  }

  .example__result-wrapper {
    width: 100%;
  }

  .example__block,
  .example__indicators {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-size: 60px;
    padding: 0;
    padding-top: 2px;
    margin-bottom: 65px;
  }

  .example__list {
    width: 365px;
    margin: 0;
    margin-right: auto;
    padding: 0;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 53px;
  }

  .example__process {
    font-size: 30px;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
  }

  .example__expenses-price {
    padding-top: 9px;
    box-sizing: border-box;
  }

  .example__item {
    width: calc(50% - 23px);
    padding: 23px 0;
  }

  .example__result {
    width: 100%;
    padding: 2px 70px 0 70px;
    box-sizing: border-box;

  }

  .example__toggle {
    display: none;
  }

  .example__process-description {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
    width: auto;
    bottom: -6px;
  }

  .example__images {
    position: relative;
    width: 100%;
    height: 520px;
    margin-top: 150px;
    margin-bottom: -50px;

    & picture {
      position: absolute;
      left: calc(50% - 338px);
      top: -64px;
    }
  }

  .example__images-before {
    display: block;

    & picture {
      clip-path: inset(0 51% 0 0);
    }
  }

  .example__images-after {
    display: block;

    & picture {
      clip-path: inset(0 0 0 49%);
    }
  }

  .example__result-text {
    font-size: 20px;
    border-bottom: 1px dotted #c8c8c8;
    padding-bottom: 5px;
  }

  .example__btn {
    display: block;
    position: absolute;
    //left: calc(50% - 17px);
    left: 0;
    top: calc(50% - 17px);
    z-index: 5;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: $border;
    background-color: $color-white;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    padding: 0;

    &:hover ~ .example__result-text {
      border-bottom-style: solid;
    }

    &:active {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid $color-green;
      cursor: w-resize;

      &::after {
        top: 11px;
      }
    }

    &:active ~ .example__result-text {
      border-bottom: none;
      padding-bottom: 6px;
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      left: calc(50% - 4px);
      top: 12px;
      z-index: 7;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-green;
      cursor: pointer;
    }
  }

  .example__range {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0;
    padding-bottom: 67px;
    background: none;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: calc(100% - 215px);
      background-color: $color-bright-gray;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      width: calc(50% + 325px);
      height: calc(100% - 215px);
      background-color: $color-dark-gray;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .example__title {
    padding: 0;
    margin-bottom: 146px;
  }

  .example__block {
    position: relative;
  }

  .example__list {
    margin-bottom: 52px;
  }

  .example__description {
    padding-right: 75px;
    margin: 0;
    margin-bottom: 68px;
  }

  .example__process-description {
    background-color: $color-dark-gray;
  }

  .example__expenses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .example__expenses-price {
    margin-left: 64px;
  }

  .example__images {
    margin: 10px 0 37px;
    transform: translateX(42px);

    & picture {
      top: 0;
    }
  }

  .example__images-before {
    & picture {
      clip-path: inset(0 47% 0 0);
    }
  }

  .example__images-after {
    & picture {
      clip-path: inset(0 0 0 53%);
    }
  }

  .example__indicators {
    width: 42%;
    flex-direction: column;
    margin-top: 80px;
  }

  .example__result-wrapper {
    width: 58%;
    margin-top: 15px;
  }

  .example__result {
    width: 570px;
    box-sizing: content-box;
    padding: 0;
    margin-left: auto;
  }
}
