.field-data {
  display: flex;
  min-height: 45px;
  margin-bottom: 14px;

  &--email,
  &--phone {
    & svg {
      position: absolute;
      right: 17px;
    }

    & input:active ~ svg,
    & input:focus ~ svg {
      fill: $color-green;
    }

    & input:invalid ~ svg {
      fill: #ff8282;
    }
  }

  &--email &__input,
  &--phone &__input {
    margin-left: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & input {
    @include form-label;

    color: $color-gray;
    height: 100%;
    box-sizing: border-box;
    border: $border;
    margin-left: 15px;
    width: 100%;
    padding-left: 15px;

    &:hover {
      border-color: $color-gray-btn-hvr;
    }

    &:active,
    &:focus {
      border: 2px solid $color-gray;
      outline: none;
      padding-left: 14px;
    }

    &:invalid {
      border: 2px solid #ff8282;
      padding-left: 14px;
    }
  }

  & label {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

.field-data__inquiry {
  @include form-label;

  flex-shrink: 0;
  display: flex;
  align-items: center;

  & sup {
    padding-bottom: 13px;
  }
}

@media (min-width: $tablet-width) {
  .field-data {
    margin-bottom: 20px;

    & input {
      font-size: 20px;
      padding: 10px 17px;
      margin-left: 16px;

      &:active,
      &:focus,
      &:invalid {
        padding: 9px 16px;
      }
    }
  }

  .field-data__inquiry {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .field-data {
    margin: 0;
    margin-bottom: 20px;

    &--email {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
