.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: $border;
  position: relative;
}

.main-nav__logo {
  display: flex;
  align-items: center;
  line-height: 0;
  width: 100%;
  margin-left: calc(50% - 140px);
  min-height: 66px;
  box-sizing: border-box;
}

.main-nav__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle {
  position: absolute;
  right: calc(50% - 140px);
  top: 23px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: url("../img/svg_inline/icon-close.svg") no-repeat center center;
  width: 24px;
  height: 18px;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    &--closed &__toggle {
      background: url("../img/svg_inline/icon-mobile-menu.svg") no-repeat center center;
      width: 20px;
      height: 22px;
    }

    &--closed .site-nav {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    padding: 0 30px;
    border-bottom: none;
  }

  .main-nav__logo {
    margin: 0;
    width: auto;
    border-bottom: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 168px;
    padding: 0;

    &--index {
      &::before {
        content: "";
        position: absolute;
        right: -110px;
        top: 0;
        width: 720px;
        height: 696px;
        z-index: -1;
        background: url("../img/index-background-desktop@1x.jpg") no-repeat center;
        background-size: 720px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
  .main-nav {
    &--index {
      &::before {
        background: url("../img/index-background-desktop@2x.jpg") no-repeat center;
        background-size: 1440px auto;
      }
    }
  }
}
