.page-footer {
  background-color: $color-dark-gray;
}

.page-footer__menu {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.page-footer__logo {
  min-height: 95px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: $border;
  padding-top: 10px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__menu {
    padding: 0 30px;
    flex-direction: row;
    min-height: 150px;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: calc(100% / 3);
  }

  .page-footer__logo {
    justify-content: flex-start;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__menu {
    padding: 0 110px;
  }
}
