body {
  padding: 0;
  font: 400 14px/18px $font;
  color: $color-gray;
  min-width: 320px;
  margin: 0;
}

.visually-hidden {
  @include visually-hidden;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  // fill: $color-green;
}

input,
textarea {
  font-family: $font;
}

picture {
  line-height: 0;
}
