.selection-program {
  margin-bottom: 20px;
}

.selection-program__item {
  font-weight: 400;
  background-color: $color-dark-gray;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  &:first-child {
    margin-bottom: 22px;
  }
}

.selection-program__title {
  color: $color-white;
  min-height: 255px;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 25px 0;
}

.selection-program__middle-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.selection-program__block {
  margin-top: -182px;
  padding: 0 20px;
}

.selection-program__img-wrap {
  text-align: center;
  margin-bottom: 3px;
}

.selection-program__list {
  @include list-dumping;

  padding: 0 20px;
}

.selection-program__item-title {
  @include title-h4;

  line-height: 50px;
  padding-top: 3px;
}

.selection-program__svg-inner {
  display: flex;
  width: 70px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-right: 10px;
  margin-left: -7px;

  &--loss {
    &::before {
      top: 4px;
    }
  }

  & svg {
    z-index: 5;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background: #68b738;
    position: absolute;
    border-radius: 50%;
  }
}

.selection-program__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  text-decoration: none;
}

.selection-program__item-description {
  line-height: 18px;
  margin: 0;
  font-family: $font-arial;
  margin-top: 23px;
  padding-bottom: 22px;
  border-bottom: $border;
  margin-bottom: 19px;
}

.selection-program__item-link {
  font-size: 16px;
  line-height: 16px;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 11px;
    background: url("../img/svg_inline/icon-right-arrow-long.svg") no-repeat center;
    margin-left: 10px;
    transition: width 0.1s;
  }

  &:hover {
    &::after {
      width: 33px;
      background: url("../img/svg_inline/icon-right-arrow-verylong.svg") no-repeat center;
      transition: width 0.1s;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 24px;
      background: url("../img/svg_inline/icon-right-arrow-long.svg") no-repeat center;
    }
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .selection-program__title {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat center;
    background-size: 640px auto;
  }
}

@media (min-width: $tablet-width) {
  .selection-program {
    margin-bottom: 45px;
  }

  .selection-program__title {
    padding: 32px 80px 41px 118px;
    background: none;
    min-height: auto;
    text-align: start;
  }

  .selection-program__middle-title {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
    padding-left: 88px;
    margin-bottom: 20px;
  }

  .selection-program__block {
    position: relative;
    margin: 0;
    padding: 0 30px;
  }

  .selection-program__list {
    padding: 0 30px;
  }

  .selection-program__link {
    width: 244px;
    height: 52px;
    margin: 0;
    margin-left: 90px;
    position: absolute;
    top: 68px;
  }

  .selection-program__item {
    padding: 72px 27px 63px 52px;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  .selection-program__item-title {
    @include title-h1;

    width: 100%;
  }

  .selection-program__item-link {
    order: 4;
    font-size: 20px;
    line-height: 20px;
    align-self: center;

    &::after {
      margin-left: 24px;
    }
  }

  .selection-program__svg-inner {
    order: 3;
    width: auto;
    height: auto;
    padding: 0;

    &::before {
      width: 200px;
      height: 200px;
    }

    &--loss {
      padding-right: 65px;
      margin-top: -47px;

      & svg {
        width: 140px;
        height: 194px;
      }

      &::before {
        top: 26px;
      }
    }

    &--set {
      margin-top: -20px;

      & svg {
        width: 268px;
        height: 112px;
      }
    }
  }

  .selection-program__item-description {
    font-size: 16px;
    line-height: 24px;
    width: 360px;
    border: none;
    margin: 26px 0 33px;

    &--loss {
      width: 380px;
    }

    &--set {
      width: 340px;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    position: relative;
    margin-bottom: 74px;
  }

  .selection-program__img-wrap {
    position: absolute;
    top: -26px;
    right: 218px;
  }

  .selection-program__link {
    position: static;
    margin: 0;
  }

  .selection-program__middle-title {
    padding: 0;
    margin-bottom: 53px;
  }

  .selection-program__title {
    width: 420px;
    padding-left: 80px;
    padding-top: 54px;
  }

  .selection-program__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .selection-program__item {
    width: calc(50% - 40px);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 44px 50px 62px 52px;

    &:first-child {
      margin: 0;
    }
  }

  .selection-program__block {
    position: static;
    padding-bottom: 268px;
    padding-left: 80px;
  }

  .selection-program__item-title {
    width: auto;
    display: flex;
    align-items: center;
  }

  .selection-program__item-description {
    width: auto;
    margin-top: 46px;
    padding: 0;
    margin-bottom: 30px;
  }

  .selection-program__svg-inner {
    order: 0;
    padding: 0;
    margin: 0;
    height: 97px;
    box-sizing: border-box;

    &::before {
      width: 100px;
      height: 100px;
    }

    &--loss {
      padding-right: 77px;
      padding-left: 15px;

      & svg {
        width: 70px;
        height: 97px;
      }

      &::before {
        top: 5px;
      }
    }

    &--set {
      padding-right: 46px;
      padding-top: 10px;
      margin-left: -18px;

      & svg {
        width: 134px;
        height: 56px;
      }
    }
  }
}
