.site-nav {
  @include list-dumping;

  width: 100%;
  text-align: center;
}

.site-nav__link {
  @include nav-menu;

  padding: 21px 0;
  width: 100%;
  display: block;
  border-bottom: $border;
}

@media (min-width: $tablet-width) {
  .site-nav {
    width: auto;
    display: flex;
    margin-left: auto;
  }

  .site-nav__link {
    border-bottom: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      @include link-active;
    }
  }

  .site-nav__point {
    margin-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__link {
    font-size: 20px;

    &--index {
      color: $color-white;
    }

    &--index:hover {
      opacity: 0.6;
    }

    &--index:active {
      opacity: 0.3;
    }

    &--active {
      border-bottom: 2px solid $color-green;
      padding-bottom: 10px;
    }

    &--index.site-nav__link--active {
      border-bottom: 2px solid $color-white;
    }
  }
}
