.social__list {
  @include list-dumping;

  display: flex;
  min-height: 63px;
  justify-content: center;
  align-items: center;
  border-bottom: $border;
}

.social__item {
  width: 56px;
  text-align: center;
}

.social__link {
  & svg {
    fill: $color-svg-gray;
  }
}
