@charset "UTF-8";
/* Граница */
/* Цвета */
/* Шрифт */
/* Размеры экранов */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal; }

body {
  padding: 0;
  font: 400 14px/18px "Oswald", arial, sans-serif;
  color: #444444;
  min-width: 320px;
  margin: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

picture {
  width: 100%; }

input,
textarea {
  font-family: "Oswald", arial, sans-serif; }

.button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #68b738;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  min-height: 40px;
  width: 100%;
  font-family: "Oswald", arial, sans-serif;
  padding: 0; }

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
  position: relative; }

.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0;
  width: 100%;
  margin-left: calc(50% - 140px);
  min-height: 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-nav__toggle {
  position: absolute;
  right: calc(50% - 140px);
  top: 23px;
  font-size: 0;
  line-height: 0;
  border: none;
  background: url("../img/icon-close.svg") no-repeat center center;
  width: 24px;
  height: 18px; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle {
    background: url("../img/icon-mobile-menu.svg") no-repeat center center;
    width: 20px;
    height: 22px; }
  .main-nav--closed .site-nav {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    border-bottom: none; }
  .main-nav__logo {
    margin: 0;
    width: auto;
    border-bottom: none; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1220px) {
  .main-nav {
    min-height: 168px;
    padding: 0; }
    .main-nav--index::before {
      content: "";
      position: absolute;
      right: -110px;
      top: 0;
      width: 720px;
      height: 696px;
      z-index: -1;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat center; } }

@media (min-width: 1220px) {
  .page-main {
    position: relative;
    overflow: hidden; } }

.selection-program__item {
  font-weight: 400;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px; }
  .selection-program__item:first-child {
    margin-bottom: 20px; }

.selection-program__title {
  color: #ffffff;
  min-height: 255px;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 25px 0; }

.selection-program__middle-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px; }

.selection-program__block {
  margin-top: -185px;
  padding: 0 20px; }

.selection-program__img-wrap {
  text-align: center; }

.selection-program__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
  padding: 0 20px; }

.selection-program__item-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  line-height: 50px; }

.selection-program__svg-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 10px; }
  .selection-program__svg-inner--loss::before {
    top: 4px; }
  .selection-program__svg-inner svg {
    z-index: 5; }
  .selection-program__svg-inner::before {
    content: "";
    width: 50px;
    height: 50px;
    background: #68b738;
    position: absolute;
    border-radius: 50%; }

.selection-program__link {
  margin-bottom: 22px; }

.selection-program__item-description {
  line-height: 18px;
  margin: 0;
  font-family: "Arial", sans-serif;
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px; }

.selection-program__item-link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase; }
  .selection-program__item-link::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
    padding-bottom: 3px;
    margin-left: 10px; }

@media (min-width: 768px) {
  .selection-program__title {
    padding: 35px 80px 25px 120px;
    background: none;
    min-height: auto;
    text-align: start; }
  .selection-program__middle-title {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: start; }
  .selection-program__block {
    margin: 0;
    padding: 0 30px 0 120px; }
  .selection-program__list {
    padding: 0 30px; }
  .selection-program__link {
    margin: 0;
    width: auto;
    padding: 0 25px;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px); }
  .selection-program__item {
    padding: 80px 27px 62px 52px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .selection-program__item-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    width: 100%; }
  .selection-program__item-link {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    font-size: 20px;
    line-height: 20px; }
  .selection-program__svg-inner {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: auto;
    height: auto;
    padding: 0; }
    .selection-program__svg-inner::before {
      width: 200px;
      height: 200px; }
    .selection-program__svg-inner--loss {
      padding-right: 50px;
      margin-top: -30px; }
      .selection-program__svg-inner--loss svg {
        width: 140px;
        height: 194px; }
      .selection-program__svg-inner--loss::before {
        top: 10px; }
    .selection-program__svg-inner--set svg {
      width: 268px;
      height: 112px; }
  .selection-program__item-description {
    font-size: 16px;
    line-height: 24px;
    width: 360px;
    border: none; } }

@media (min-width: 1220px) {
  .selection-program__img-wrap {
    position: absolute;
    top: 0;
    right: 30%; }
  .selection-program__link {
    -webkit-transform: none;
            transform: none; }
  .selection-program__title {
    width: 420px;
    padding-left: 80px; }
  .selection-program__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .selection-program__item {
    width: calc(50% - 33px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .selection-program__item:first-child {
      margin: 0; }
  .selection-program__block {
    padding-bottom: 320px;
    padding-left: 80px; }
  .selection-program__item-title {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .selection-program__item-description {
    width: auto; }
  .selection-program__svg-inner {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0;
    margin: 0; }
    .selection-program__svg-inner::before {
      width: 100px;
      height: 100px; }
    .selection-program__svg-inner--loss {
      padding-right: 80px; }
      .selection-program__svg-inner--loss svg {
        width: 70px;
        height: 97px; }
      .selection-program__svg-inner--loss::before {
        top: 5px; }
    .selection-program__svg-inner--set {
      padding-right: 45px; }
      .selection-program__svg-inner--set svg {
        width: 124px;
        height: 56px; } }

.container {
  max-width: 1220px;
  margin: 0 auto; }

.advantage {
  padding: 0 20px; }

.advantage__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 20px; }

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantage__item {
  font-family: "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .advantage__item:last-child {
    margin-bottom: 0; }

.advantage__item-image {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px; }

@media (min-width: 768px) {
  .advantage {
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6; }
  .advantage__title {
    font-size: 60px;
    margin-bottom: 60px; }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    counter-reset: section; }
  .advantage__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    padding-right: 130px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 230px;
    position: relative;
    z-index: 5;
    margin-bottom: 90px; }
    .advantage__item::before {
      content: "" counter(section);
      counter-increment: section;
      font-size: 281px;
      font-weight: 400;
      position: absolute;
      left: 115px;
      top: 95px;
      color: #f2f2f2;
      z-index: -1;
      font-family: "Oswald", arial, sans-serif; }
    .advantage__item:nth-child(even) {
      padding-left: 30px; }
      .advantage__item:nth-child(even)::before {
        left: 140px; }
    .advantage__item:nth-last-child(-n+2) {
      margin-bottom: 60px; }
  .advantage__item-image {
    width: 80px;
    height: 80px;
    margin-bottom: 30px; } }

@media (min-width: 1220px) {
  .advantage {
    padding: 0;
    border: none;
    margin-bottom: 70px; }
  .advantage__title {
    padding: 0; }
  .advantage__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .advantage__item {
    padding: 0;
    width: calc(25% - 80px * 3 / 4); }
    .advantage__item::before {
      left: 120px; }
    .advantage__item:nth-child(even) {
      padding: 0; }
      .advantage__item:nth-child(even)::before {
        left: 120px; } }

.example {
  padding: 0 20px 35px;
  background-color: #f2f2f2; }

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 25px 0; }

.example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  margin-bottom: 25px; }

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }

.example__item {
  width: calc(50% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e6e6e6;
  padding: 15px 0;
  position: relative;
  border-radius: 5px; }

.example__images-after {
  display: none; }

.example__process {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111; }

.example__process-description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  position: absolute;
  width: 65px;
  text-align: center;
  bottom: -18px;
  z-index: 5;
  padding: 0 10px;
  background-color: #f2f2f2; }

.example__expenses {
  text-transform: uppercase;
  color: #111111;
  text-align: center;
  margin: 0;
  margin-bottom: 35px; }

.example__result {
  padding-left: 44px;
  padding-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .example__result::before {
    content: "";
    position: absolute;
    left: 97px;
    top: calc(50% - 7px);
    width: calc(100% - 194px);
    height: 14px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .example__result::after {
    content: "";
    position: absolute;
    left: 102px;
    top: calc(50% - 3px);
    width: calc(100% - 244px);
    height: 6px;
    background-color: #68b738;
    border-radius: 10px; }

.example__result-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111; }

@media (min-width: 768px) {
  .example {
    padding: 0 30px;
    background: none; }
  .example__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .example__title {
    font-size: 60px; }
  .example__list {
    width: 365px;
    margin: 0;
    margin-right: auto; }
  .example__description {
    font-size: 16px;
    line-height: 24px; }
  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0; }
  .example__result {
    width: 100%;
    padding: 0 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .example__result::before {
      display: none; }
    .example__result::after {
      left: 156px;
      width: calc(100% - 316px);
      background-color: #dcdcdc; }
  .example__process-description {
    background: none; }
  .example__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 50px 0; }
  .example__images-after {
    display: inline-block; }
  .example__result-text {
    font-size: 20px; }
    .example__result-text--toggle::before {
      content: "";
      position: absolute;
      left: calc(50% - 17px);
      top: -8px;
      z-index: 5;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      background-color: #ffffff;
      cursor: pointer; }
    .example__result-text--toggle::after {
      content: "";
      position: absolute;
      left: calc(50% - 3px);
      top: 6px;
      z-index: 7;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
      cursor: pointer; } }

@media (min-width: 1220px) {
  .example {
    padding: 0;
    background: -webkit-gradient(linear, right top, left top, from(#eaeaea), color-stop(32.8%, #eaeaea), color-stop(32.8%, #f2f2f2), to(#f2f2f2));
    background: linear-gradient(to left, #eaeaea 0%, #eaeaea 32.8%, #f2f2f2 32.8%, #f2f2f2 100%);
    padding-bottom: 65px; }
  .example__title {
    padding: 0;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
    width: 100%; }
  .example__block {
    position: relative; }
  .example__description,
  .example__list {
    padding-right: 62%; }
  .example__list {
    margin-bottom: 60px; }
  .example__expenses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .example__expenses-price {
    margin-left: 60px; }
  .example__images {
    position: absolute;
    right: 0;
    width: auto; }
  .example__result {
    width: 570px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0;
    margin-left: auto; }
    .example__result::after {
      left: 68px;
      width: calc(100% - 142px); } }

.map {
  line-height: 0; }

.map_title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  margin: 0; }

.map__address {
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal; }

.map__cooperation {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .map__cooperation--others {
    background-color: #f2f2f2; }

@media (min-width: 768px) {
  .map_title {
    width: 150px;
    font-size: 20px;
    line-height: 25px; }
  .map__cooperation {
    padding: 0 70px;
    margin: 0;
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .map__address {
    width: 160px;
    text-align: right;
    font-size: 16px; } }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6; }

.social__item {
  width: 56px;
  text-align: center; }

.social__link svg {
  fill: #666666; }

@media (min-width: 768px) {
  .social__list {
    border: none;
    height: 100%; } }

.copyright__link {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 78px; }

@media (min-width: 768px) {
  .copyright__link {
    height: 100%; }
  .copyright__link-text {
    margin-left: auto;
    margin-right: 20px; } }

.page-footer {
  background-color: #f2f2f2; }

.page-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px; }

.page-footer__logo {
  min-height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e6e6e6; }

@media (min-width: 768px) {
  .page-footer__menu {
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 150px; }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: calc(100% / 3); }
  .page-footer__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (min-width: 1220px) {
  .page-footer__menu {
    padding: 0 110px; } }

.catalog__title {
  padding: 30px 0 35px 20px;
  border-bottom: 1px solid #e6e6e6; }

.catalog__middle-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog__item-show {
  padding: 25px 20px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .catalog__item-show svg {
    opacity: 0.2; }

.catalog__show-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px; }

.catalog__show-description {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-bottom: 20px; }

.catalog__show-btn {
  background-color: #f2f2f2;
  color: #444444; }

@media (min-width: 768px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 75px 30px 0; }
  .catalog__item-show {
    width: calc(50% - 30px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 65px;
    padding: 55px 37px 40px 37px;
    border: 1px solid #e6e6e6; }
    .catalog__item-show svg {
      width: 60px;
      height: 60px; }
  .catalog__show-title {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 25px;
    text-align: center;
    padding: 0 50px; }
  .catalog__show-description {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 0 30px;
    margin-bottom: auto; } }

@media (min-width: 1220px) {
  .catalog__title {
    width: auto;
    padding-left: 0; }
  .catalog__list {
    padding-left: 0;
    padding-right: 0; }
  .catalog__item-show {
    width: calc(25% - 60px); }
  .catalog__show-title {
    padding: 0; }
  .catalog__show-description {
    padding: 0; } }

.additional-goods {
  padding: 25px 20px 35px; }

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6; }

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.additional-goods__action {
  margin-top: 40px;
  min-height: 290px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .additional-goods__action svg {
    fill: #ffffff;
    margin-top: 65px;
    margin-bottom: 60px; }

.additional-goods__action-information {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin: 0;
  text-align: center;
  padding: 0 50px; }

@media (min-width: 768px) {
  .additional-goods {
    padding: 0;
    padding-bottom: 75px; }
  .additional-goods__title {
    position: relative;
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-left: 66px;
    margin-bottom: 70px;
    border: none; }
    .additional-goods__title::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% + 3px);
      height: 3px;
      background-color: #68b738;
      z-index: -2; }
  .additional-goods__list {
    padding: 0 30px; }
  .additional-goods__action {
    margin-top: 70px;
    padding: 0 30px;
    min-height: 200px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .additional-goods__action svg {
      padding-left: 90px; }
  .additional-goods__action-information {
    width: 180px;
    text-align: left;
    padding-left: 276px; } }

@media (min-width: 1220px) {
  .additional-goods__title {
    padding-left: calc(50% - 610px); }
    .additional-goods__title::after {
      left: calc(50% - 643px); }
  .additional-goods__list {
    width: calc(75% - 20px);
    padding: 0;
    margin-right: auto; }
  .additional-goods__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .additional-goods__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(20% - 59px);
    min-height: 288px;
    margin: 0;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat center; }
    .additional-goods__action svg {
      padding: 0; }
  .additional-goods__action-information {
    padding: 0;
    text-align: center; } }

.form-knitting {
  padding: 0 20px; }

.form-knitting__title {
  padding: 30px 0 35px 20px; }

.form-knitting__middle-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding-right: 30px; }

@media (min-width: 768px) {
  .form-knitting {
    padding-left: 70px;
    padding-right: 67px; }
  .form-knitting__title {
    padding-left: 0; }
  .form-knitting__middle-title {
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    width: 360px; } }

@media (min-width: 1220px) {
  .form-knitting {
    padding: 0; } }

.form {
  padding-top: 15px;
  margin-bottom: 30px; }

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding: 24px 0; }
  .form__list--radio {
    padding: 20px 0; }
    .form__list--radio::before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      height: 1px;
      width: calc(100% + 40px);
      background-color: #e6e6e6; }
  .form__list--data::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #e6e6e6; }
  .form__list--checkbox {
    padding-bottom: 35px; }

.form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 30px 0; }

.form__comment {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  padding: 13px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 150px; }

.form__footnote-surely {
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin: 0;
  text-align: center; }

.form__btn {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .form__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    background: white;
    margin-left: -25px;
    padding: 0 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .form__title::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% + 3px);
      height: 3px;
      background-color: #68b738;
      z-index: -2; }
    .form__title::before {
      left: -45px;
      width: 100vw; }
  .form__list--radio {
    border: 1px solid #e6e6e6;
    padding: 25px; }
  .form__list--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form__list::before {
    display: none; }
  .form__comment {
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1220px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form__title::before {
    left: -20vw;
    width: calc(100vw + 50vw); }
  .form__fieldset {
    width: 100%; }
    .form__fieldset--data, .form__fieldset--radio {
      width: calc(50% - 40px);
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

.field-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-bottom: 15px; }
  .field-data:last-child {
    margin-bottom: 0; }
  .field-data input {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;
    color: #444444;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #e6e6e6;
    margin-left: 15px;
    width: 100%;
    padding-left: 15px; }
  .field-data label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

.field-data__inquiry {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 400;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

@media (min-width: 768px) {
  .field-data input {
    font-size: 20px; }
  .field-data__inquiry {
    font-size: 20px;
    line-height: 20px; } }

.btn-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px; }
  .btn-radio:last-child {
    margin-bottom: 0; }
  .btn-radio input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .btn-radio label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .btn-radio label::before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: 15px; }

.btn-radio input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%; }

@media (min-width: 768px) {
  .btn-radio label {
    font-size: 20px; } }

.btn-checkbox {
  margin-bottom: 13px; }
  .btn-checkbox:last-child {
    margin-bottom: 0; }
  .btn-checkbox label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .btn-checkbox label::before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      border: 1px solid #cdcdcd;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-right: 15px; }
  .btn-checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; }

.btn-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 21px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat center; }

@media (min-width: 768px) {
  .btn-checkbox {
    width: 50%;
    margin-bottom: 30px; }
    .btn-checkbox label {
      font-size: 20px;
      line-height: 20px; }
      .btn-checkbox label::before {
        width: 40px;
        height: 40px; }
  .btn-checkbox input:checked ~ label::after {
    top: 12px;
    left: 10px; } }

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center; }

.site-nav__link {
  font-size: 18px;
  line-height: 24px;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  padding: 21px 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid #e6e6e6; }

@media (min-width: 768px) {
  .site-nav {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .site-nav__link {
    border-bottom: none; }
  .site-nav__point {
    margin-left: 35px; } }

@media (min-width: 1220px) {
  .site-nav__link {
    font-size: 20px; }
    .site-nav__link--index {
      color: #ffffff; } }

.catalog-item {
  padding: 20px 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6; }

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: #111111;
  margin: 0;
  width: 90px;
  margin-bottom: 15px; }

.catalog-item__list {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  width: 100%; }

.catalog-item__block {
  width: 50%; }

.catalog-item__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 768px) {
  .catalog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(50% - 30px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f2f2f2;
    margin-bottom: 65px;
    border: none;
    padding: 0 37px 40px; }
    .catalog-item:nth-child(odd) {
      margin-right: 60px; }
    .catalog-item img {
      margin-top: -60px;
      margin-bottom: 45px; }
  .catalog-item__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog-item__title {
    font-size: 20px;
    text-align: center;
    width: 150px;
    -ms-flex-item-align: center;
        align-self: center; }
  .catalog-item__list {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 33px; }
  .catalog-item__line {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0; } }

@media (min-width: 1220px) {
  .catalog-item {
    width: calc(25% - 60px);
    margin-right: 80px; }
    .catalog-item:nth-child(odd) {
      margin-right: 80px; }
    .catalog-item:nth-child(4n) {
      margin-right: 0; } }

.goods-item {
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6; }

.goods-item__title {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px; }

.goods-item__description {
  line-height: 14px;
  font-family: "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 15px; }

.goods-item__price {
  margin-left: auto; }

@media (min-width: 768px) {
  .goods-item {
    padding: 28px 37px;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .goods-item:last-child {
      border-bottom: 1px solid #e6e6e6; }
  .goods-item__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px; }
  .goods-item__description {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto; }
  .goods-item__price {
    margin-left: 52px; } }

@media (min-width: 1220px) {
  .goods-item {
    border-left: none;
    border-right: none;
    padding: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .goods-item__title {
    min-width: 326px;
    margin: 0; }
  .goods-item__description {
    min-width: 284px;
    margin: 0; }
  .goods-item__price {
    margin-left: auto; }
  .goods-item__btn {
    width: auto;
    padding: 0 91px;
    margin-left: auto; } }

@media (min-width: 1220px) {
  .page-header {
    position: relative; } }

.main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0; }

@media (min-width: 768px) {
  .main-title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    border: none; } }

/*# sourceMappingURL=style.css.map */
