@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title-h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

@mixin title-h2 {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $color-black;
  margin: 0;
}

@mixin title-h4 {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $color-black;
  text-transform: uppercase;
  margin: 0;
}

@mixin title-small {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-black;
}

@mixin title-medium {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-black;
}

@mixin text-small {
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
}

@mixin list-dumping {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin form-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-light-black;
  font-weight: 400;
}

@mixin nav-menu {
  font-size: 18px;
  line-height: 24px;
  color: $color-light-black;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin border-before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  height: 1px;
  width: calc(100% + 40px);
  background-color: $color-border;
}

@mixin block-divider {
  position: relative;
  background: white;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #68b738;
    z-index: -2;
    top: calc(50% + 2px);
    width: calc(100vw - 20px);
    left: 0;
  }
}

@mixin link-active {
  border-bottom: 2px solid $color-green;
  padding-bottom: 8px;
}
