@import "variables.scss";
@import "mixins.scss";
@import "blocks/fonts.scss";
@import "blocks/scaffolding.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/selection-program.scss";
@import "blocks/button.scss";
@import "blocks/container.scss";
@import "blocks/advantage.scss";
@import "blocks/example.scss";
@import "blocks/map.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-footer.scss";
@import "blocks/catalog.scss";
@import "blocks/additional-goods.scss";
@import "blocks/form-knitting.scss";
@import "blocks/form.scss";
@import "blocks/field-data.scss";
@import "blocks/btn-radio.scss";
@import "blocks/btn-checkbox.scss";
@import "blocks/site-nav.scss";
@import "blocks/catalog-item.scss";
@import "blocks/goods-item.scss";


